
.episodeCard {
    background: linear-gradient( to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100% ), radial-gradient( at top center, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 120% ) #989898;
    background-blend-mode: multiply, multiply;
    display: flex;
    padding: 20px;
    width: 23%;
    margin: 5px;
    border: 0 solid #333;
    box-shadow: 3px 3px 3px #989989;
    border-radius: 7px;
    color: #fff;
    flex-direction: column;
    gap: 20px;
}

.learnMore {
    background-image: linear-gradient(120deg, #2a57a0 0%, #5c91aa 100%);
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .learnMore:hover {
    background-image: linear-gradient(120deg, #4a6da5 0%, #5c91aa 100%);
  }

  .nameText {
    font-weight: bolder;
    font-size: 1.03rem;
  }
  .episodeText {
    font-weight: bolder;
    font-size: 1.03rem;
  }